.action_buttom {
  background-color: #3040c4;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
}

.action_buttom-lear-more {
  background-color: #fff;
  color: #3040c4;
  width: 158px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
}

.header {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: #fff;
  padding-left: 15px;
}
.header__menu-button {
  width: 58px;
  height: 100%;
  border: none;
  margin-left: auto;
  border-left: 1px solid #00000026;
  background: transparent;
}
.header__menu-button-icon {
  display: inline-block;
  width: 18px;
  height: 13px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
}
.header .navigation {
  display: none;
}
.header .navigation__item {
  color: #2b292d;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}
.header .navigation__item:last-child {
  margin-right: 0%;
}
.header .navigation__item_selected {
  font-weight: 700;
}
.header .navigation__arrow {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png");
  display: inline-block;
  height: 5px;
  width: 8px;
  margin-left: 11px;
}
.header__buttom {
  display: none;
}
.header .logo {
  display: flex;
}
.header .logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}
.header .logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .logo__text-name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.header .logo__text-description {
  display: none;
}

.top-section {
  background-color: #f3c8bd;
}

@media screen and (min-width: 400px) {
  .header {
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
    background-color: #f3c8bd;
  }
  .header .navigation {
    display: block;
    margin-left: auto;
    margin-right: 75px;
    margin-top: 7px;
  }
  .header .top-section {
    padding-top: 39px;
  }
  .header__buttom {
    display: block;
  }
  .header .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  .header .logo-description {
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    opacity: 0.6;
  }
  .header__menu-button {
    display: none;
  }
}
.footer {
  display: flex;
  margin-top: auto;
  flex-direction: column;
  margin-bottom: 0;
}
.footer-discription {
  display: none;
}
.footer-navigation {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.footer .about-company {
  margin-top: 44px;
}
.footer .additional-navigation {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}
.footer .additional-navigation .nav-links__colum {
  margin-top: 30px;
}
.footer .additional-navigation .nav-links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}
.footer .additional-navigation .nav-links_list {
  padding: 0;
  margin: 0;
  margin-top: 18px;
}
.footer .additional-navigation .nav-links_list-item {
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
  list-style-type: none;
}
.footer .downloads {
  margin: 25px 15px 0 15px;
  display: flex;
  justify-content: center;
}
.footer .downloads__app {
  margin-right: 10px;
}
.footer .desctop {
  display: none;
}
.footer__line {
  border-top: 1px solid #2b292d;
  width: 100%;
  margin-top: 40px;
  opacity: 0.1;
}
.footer__links {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.footer .terms {
  margin-top: 30px;
  line-height: 22px;
}
.footer .terms__item {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  margin-right: 22px;
  font-size: 14px;
}
.footer .social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}
.footer .social-links__item {
  margin-right: 20px;
}
.footer .logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .logo-vertical__image {
  width: 60px;
  height: 60px;
}
.footer .logo-vertical__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
}
.footer .logo-vertical__discriptin {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}

@media screen and (max-width: 399px) {
  .footer .logo {
    display: none;
  }
}
@media screen and (min-width: 400px) {
  .footer .terms {
    line-height: 50px;
    margin-top: 0;
  }
  .footer .terms__item {
    text-decoration: none;
    color: rgba(43, 41, 45, 0.6);
    margin-right: 22px;
    font-size: 14px;
  }
  .footer .social-links {
    margin-left: auto;
    margin-top: 0px;
  }
  .footer .social-links__item {
    margin-left: 20px;
    margin-right: 0;
  }
  .footer__line {
    border-top: 1px solid #2b292d;
    width: 100%;
    margin-top: 40px;
    opacity: 0.1;
  }
  .footer__links {
    display: flex;
    height: 50px;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
  }
  .footer .additional-navigation {
    margin-top: 60px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }
  .footer .additional-navigation .nav-links__colum {
    margin-top: 0px;
  }
  .footer .additional-navigation .nav-links__colum:first-child {
    margin-right: 29px;
  }
  .footer .additional-navigation .nav-links__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #2b292d;
    margin: 0;
  }
  .footer .additional-navigation .nav-links_list {
    padding: 0;
    margin: 0;
    margin-top: 18px;
  }
  .footer .additional-navigation .nav-links_list-item {
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
    list-style-type: none;
  }
  .footer__line {
    border-top: 1px solid #2b292d;
    width: 100%;
    margin: 0;
    opacity: 0.1;
  }
  .footer .desctop {
    display: block;
  }
  .footer .mobail {
    display: none;
  }
  .footer-discription {
    display: block;
    line-height: 26px;
    font-size: 18px;
    margin-top: 26px;
    color: #2b292d;
    opacity: 0.6;
    width: 360px;
  }
  .footer .logo-vertical {
    display: none;
  }
  .footer__links {
    display: flex;
    height: 50px;
    width: 1140px;
    margin: 0 auto;
    align-items: center;
    flex-direction: row;
  }
  .footer-navigation {
    width: 1140px;
    margin: 0 auto;
    height: 338px;
    padding-top: 44px;
    display: flex;
    flex-direction: row;
  }
  .footer-navigation .logo {
    display: flex;
  }
  .footer-navigation .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  .footer-navigation .logo__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer-navigation .logo__text-name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
  }
  .footer-navigation .logo__text-description {
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    opacity: 0.6;
  }
  .footer-navigation .downloads {
    margin: 0;
    margin-top: 25px;
    justify-content: left;
  }
  .footer-navigation .downloads__app {
    margin-right: 10px;
  }
  .footer-navigation .additional-navigation {
    margin-top: 60px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }
}
.headline {
  width: 100%;
}
.headline__content {
  margin: 35px 15px 33px 15px;
  z-index: 1;
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}
.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
.headline__actions {
  margin-top: 30px;
}
.headline__learn-more-btn {
  margin-top: 15px;
}

@media screen and (max-width: 399px) {
  .headline__action-btn {
    width: 100%;
  }
}
@media screen and (min-width: 400px) {
  .headline {
    width: 1140px;
    margin: auto;
    position: relative;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;
  }
  .headline__content {
    position: absolute;
    z-index: 1;
  }
  .headline__title {
    width: 754px;
    height: 165px;
    color: #2b292d;
    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
    margin: 0;
  }
  .headline__description {
    margin-top: 34px;
    margin-bottom: 0;
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 34px;
    color: #2b292d;
    z-index: 1;
  }
  .headline__actions {
    margin-top: 58px;
    display: flex;
  }
  .headline__learn-more-btn {
    margin-left: 10px;
    margin-top: 0;
  }
  .headline__banner {
    position: relative;
    right: -105px;
    top: 0;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}
.about {
  padding: 46px 15px;
  width: 100%;
  background: #f4f5f7;
}
.about .article:last-child {
  margin-top: 20px;
}
.about .article__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.about .article__text {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 6px;
}

@media screen and (min-width: 400px) {
  .about {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
  .about .article {
    width: 555px;
  }
  .about .article:last-child {
    margin-top: 0;
  }
}
.customer {
  display: flex;
  flex-direction: column;
}
.customer__row {
  display: flex;
}
.customer__item {
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.customer__item:last-child {
  border-right: none;
}
.customer__logo {
  filter: brightness(0);
  max-width: 80%;
}

@media screen and (min-width: 400px) {
  .customer {
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 106px;
    flex-direction: row;
  }
  .customer__row {
    display: flex;
    justify-content: space-around;
    flex: 1;
  }
  .customer__item {
    border: none;
  }
  .customer__logo {
    max-width: 100%;
  }
}
.features {
  display: flex;
  position: relative;
}
.features__content {
  width: 1140px;
  margin: auto;
  margin-top: 84px;
  display: flex;
}
.features__column {
  width: 459px;
}
.features__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  margin: 0;
}
.features__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
  margin-bottom: 0;
}
.features__discription {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
.features__advantage-header {
  line-height: 42px;
  display: flex;
  margin-top: 42px;
}
.features__advantage-title {
  font-weight: 700;
  font-size: 22px;
  color: #3142c6;
  line-height: 26px;
  margin: 0;
  margin-left: 15px;
}
.features__advantage-description {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142c6;
}
.features__advantage-item {
  border-bottom: 1px solid #2b292d26;
  margin-top: 21px;
  padding-bottom: 22px;
  display: flex;
}
.features__advantage-item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}
.features__left-decoration {
  position: absolute;
  top: 258px;
  height: 166px;
}
.features__banner {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 399px) {
  .features {
    display: none;
  }
}
.tips {
  display: flex;
  position: relative;
  flex-direction: column;
}
.tips .tip {
  padding: 40px 15px 0 15px;
  border-bottom: 1px solid #e3e3e3;
}
.tips .tip__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}
.tips .tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.tips .tip__description {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 13px;
}
.tips .tip__decoration {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tips .tip__image {
  margin-top: 29px;
  max-width: 100%;
}
.tips .tip__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
  max-width: 100%;
}

@media screen and (min-width: 400px) {
  .tips {
    display: none;
  }
}
.order {
  padding: 50px 15px;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .order {
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.order__details {
  max-width: 555px;
}
.order__illustration {
  max-width: 200px;
}
@media screen and (min-width: 1400px) {
  .order__illustration {
    max-width: 269px;
    margin-right: 121px;
  }
}
.order__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.25px;
  margin: 0;
  margin-top: 40px;
}
.order__text {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 18x;
}
@media screen and (min-width: 1400px) {
  .order__text {
    margin-top: 12px;
    font-size: 22px;
    line-height: 32px;
  }
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  height: 48px;
  width: 100%;
  margin-top: 40px;
  background: #ffffff;
  border: 1px solid #2b292d33;
  border-radius: 2px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin-top: 0px;
  }
}
.order__email::placeholder {
  color: #2b292d;
}
.order__button {
  margin-top: 12px;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .order__button {
    margin-top: 0px;
    margin-left: 10px;
    width: 160px;
    flex-shrink: 0;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
}
@media screen and (min-width: 1400px) {
  .order__terms {
    width: 497px;
  }
}
.order__terms_link {
  color: #3121c6;
}

.audience {
  display: flex;
  flex-direction: column;
  background-color: #00a1c612;
}
.audience__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: #2b292d;
  margin-top: 50px;
}
@media screen and (min-width: 1400px) {
  .audience__subtitle {
    margin-top: 108px;
  }
}
.audience__title {
  font-weight: 700;
  color: #2b292d;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 18px;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    width: 555px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 30px;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
  }
}
.audience__description {
  margin: 0 15px 30px 15px;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .audience__description {
    width: 555px;
    margin: 0 auto;
    margin-bottom: 34px;
  }
}
.audience__action {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1400px) {
  .audience__action {
    margin: 0 auto;
    padding: 0;
  }
}
.audience__action .audience__buttom {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .audience__action .audience__buttom {
    width: 160px;
  }
}
.audience__action .audience__buttom:last-child {
  margin-top: 12px;
}
@media screen and (min-width: 1400px) {
  .audience__action .audience__buttom:last-child {
    margin-top: 10px;
  }
}
.audience__figures {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 35px;
}
@media screen and (min-width: 1400px) {
  .audience__figures {
    flex-direction: row;
    margin-bottom: 100px;
    margin-top: 111px;
    justify-content: center;
  }
}
.audience__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;
  width: 290px;
  height: 300px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
@media screen and (min-width: 1400px) {
  .audience__figure {
    margin: 0;
    margin-right: 30px;
    width: 260px;
  }
}
.audience__figure:hover {
  background-color: #3141c5;
}
.audience__picture {
  margin: 0;
  margin-top: 22px;
}
.audience__caption {
  margin: 0;
  margin-top: 22px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #2b292d;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.page {
  width: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: 400px) {
  .page {
    display: flex;
    width: 1400px;
    margin: auto;
    min-height: 100vh;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
